<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">

    <div th:replace="fragments/navbar :: navbar"/>

    <div layout:fragment="content" th:remove="tag">
    <h1>My Space</h1>

</div>
    <br><br><br>
    <div th:replace="fragments/search :: search"></div>
    <br><br><br>


    <div th:replace="fragments/table_profile :: profile"></div>

    <br><br><br>

    <div th:replace="fragments/loans :: loans"></div>
</div>

</body>
<div th:replace="fragments/header :: foot"></div>

</html>