<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: head1"></div>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
<div layout:fragment="content" th:remove="tag">

    <h1></h1>
    <h2>Connect</h2>
    <form method="post" th:action="@{/login}">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username or password.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info">
                You have been logged out.
            </div>
        </div>
        <div class="form-group">
            <input autofocus="autofocus"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="Username"
                   type="text">
        </div>
        <div class="form-group">
            <input class="form-control"
                   id="password"
                   name="password"
                   placeholder="Password"
                   type="password">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control btn btn-info"
                           id="login-submit"
                           name="login-submit"
                           type="submit"
                           value="Log In">
                </div>
            </div>
        </div>
    </form>
</div>

        </div>
    </div>
    <div class="col-lg-3"></div>


</div>
<div th:replace="fragments/header :: foot"></div>

</html>