<div th:fragment="loans" xmlns:th="http://www.w3.org/1999/xhtml">

    <h2>Loans</h2>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Borrowed Date</th>
            <th>Return Due On</th>
            <th>ISBN</th>
            <th>Title</th>
            <th></th>
        </tr>
        </thead>


        <tbody>
        <th:block data-th-each="loan : ${member.loanList}">
            <tr>
                <td data-th-text="${loan.id}"/>
                <td data-th-text="${#dates.format(loan.startDate, 'dd-MM-yyyy')}"/>
                <td data-th-text="${#dates.format(loan.plannedEndDate, 'dd-MM-yyyy')}"/>
                <td data-th-text="${loan.book.isbn}"/>
                <td data-th-text="${loan.book.title}"/>
                <td>view Details</td>
            </tr>
            <tr>
                <td colspan="5">
                    <div th:replace="fragments/book_details :: book_details"></div>

                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <!--  <th:block data-th-each="loan : ${member.loanList}">
          <td data-th-text="${loan.book}"/>
      </th:block>-->


</div>